html {
    box-sizing: border-box;
  }
  
body {
    font-family: Lucida, Arial, serif;
    font-size: small;
    min-width: 98%;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    min-height: 90px;
    text-align: center;
    background-color: White;
}

.horizontal-line {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid black;
    border-radius: 5px;
    height: 0px;
}

.content-container {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 70%;
}


.signature-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 70%;
    align-items: center;
}

.pets-at-home-link, .customer-name, .store-address-title, .head-office-address {
    /* padding-left: 10px; */
    color: black;
    font-weight: bold;
    /* text-decoration: none; */
}

.signature-logo {
    display: block;
    width: 15%;
    min-height: 90px;
    text-align: center;
    background-color: White;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    /* height: 35px; */
    background-color: #6db254;
    color: White;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}